body {
  margin: 0 auto;
}

.container {
  max-width: 1450px;
  width: 100%;
}

.navbar_set {
  position: relative;
}

.header {
  background: url(./../img/bg-photo/header-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.info-section {
  margin-top: 102px;
}

.card-section {
  margin-top: 7%;
}

@font-face {
  font-family: "Red-Hat";
  src: url("../fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

#navbar-logo {
  font-family: Red-Hat;
  font-style: normal;
  font-weight: bolder;
  font-size: 19px;
  line-height: 25px;
  text-transform: uppercase;
  color: #035755;
}

.navbar-nav {
  margin-left: 50%;
}

.nav-item:hover:after {
  content: url(./../img/icons/nav-dot.png);
  margin-left: 45%;
}

.nav-link {
  font-family: Gelion;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #4B4F51 !important;
}

.nav-link:hover {
  color: #FB4C47 !important;
}

#navbar-btn {
  width: 154px;
  height: 55px;
  border: 2px solid #FB4C47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 46px;
  color: #FF383D;
  font-family: Gelion;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

#navbar-btn:hover {
  width: 154px;
  height: 55px;
  background: #FF383D;
  border: 2px solid #FB4C47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 46px;
  color: white;
}

.header {
  font-family: Red-Hat;
  font-style: normal;
}

.header__text_control {
  margin-top: 280px;
}

.header__text_control h3 {
  font-size: 32px;
  font-weight: bolder;
  color: #FA5652;
}

.header__text_control h1 {
  margin-top: 2%;
  font-family: Gelion;
  font-size: 50px;
  font-weight: bolder;
  color: #035755;
}

.header__text_control h4 {
  margin-top: 3%;
  font-family: Gelion;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  text-transform: capitalize;
  color: #4B4F51;
}

.header__text_control button {
  margin-top: 3%;
  width: 250px;
  height: 80px;
  background: #FB4C47;
  -webkit-box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  font-family: Gelion;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.header__text_control button:hover {
  background: white;
  color: #FB4C47;
  border: 2px solid #FB4C47;
}

.info-section__text_block {
  margin-top: 10%;
}

.info-section__text_block h4 {
  font-family: Red-Hat;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 10%;
  color: #FA5652;
}

.info-section__text_block h1 {
  font-family: Gelion;
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
  line-height: 200%;
  color: #0C6C44;
}

.info-section__text_block p {
  font-family: Gelion;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-transform: capitalize;
  color: #4B4F51;
}

.info-section__text_block button {
  margin-top: 5%;
  width: 200px;
  height: 65px;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  font-family: Gelion;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FA5652;
}

.card-section__title_set {
  text-align: center;
}

.card-section__title_set h3 {
  font-family: Red-Hat;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 124%;
  text-align: center;
  color: #FA5652;
}

.card-section__title_set h1 {
  font-family: Gelion;
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
  line-height: 200%;
  color: #0C6C44;
}

.card-section__title_set p {
  font-family: Gelion;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  color: #4B4F51;
}

.card-section__card_pos {
  margin: 10% auto auto auto;
  text-align: center;
}

.card-section__card_pos__card {
  padding-top: 6%;
  max-width: 460px;
  width: 90%;
  height: 575px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.card-section__card_pos__card h1 {
  margin-top: 7%;
  font-family: Gelion;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}

.card-section__card_pos__card p {
  font-family: Gelion;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 185%;
  text-align: center;
  text-transform: capitalize;
  color: #4B4F51;
}

.card-section__card_pos__card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 6px solid #FA5652;
}
/*# sourceMappingURL=mainstyle.css.map */