@font-face {
    font-family: "Red-Hat";  
    src: url("../fonts/RedHatDisplay-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
@font-face {
    font-family: "Gelion";  
    src: url("../fonts/Gelion-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }