body
    margin: 0 auto
.container
    max-width: 1450px
    width: 100%
.navbar_set
    position: relative
.header
    background: url(./../img/bg-photo/header-bg.png)
    background-repeat: no-repeat
    background-position: right
.info-section
    margin-top: 10%
    background: url(./../img/bg-photo/bg-cov-icons/info-cov-1.png) no-repeat right bottom
.card-section
    margin-top: 7%
    background: url(./../img/bg-photo/bg-cov-icons/bg-cov.png) no-repeat left bottom,
    url(./../img/bg-photo/bg-cov-icons/info-cov-2.png) no-repeat right top 
.symptoms
    background: url(./../img/bg-photo/bg-cov-icons/left-leaf.png) no-repeat left bottom 15%,
    url(./../img/bg-photo/bg-cov-icons/right-leaf.png) no-repeat right bottom
    margin-top: 14%
.advices
    background: url(./../img/bg-photo/bg-cov-icons/advice-cov.png) no-repeat left top,
    url(./../img/bg-photo/bg-cov-icons/advice-cov-2.png) no-repeat right bottom 15%,
    url(./../img/bg-photo/bg-cov-icons/advice-cov-3.png) no-repeat right bottom 3%
    margin-top: 16%
.form_set
    background: url(./../img/bg-photo/bg-cov-icons/form-cov.png) no-repeat right 12% top,
    url(./../img/bg-photo/bg-cov-icons/form-cov-2.png) no-repeat right bottom
    margin-top: 14%
.footer
    margin-top: 14%